<template>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Product Form</div>
                    <div class="panel-body">
                        <div class="col-lg-12">
                            <label>Product Name</label>
                            <input class="form-control" v-model="product_name"/>
                        </div>
                        <div class="col-lg-12">
                            <label>Quantity In Stock</label>
                            <input class="form-control" v-model="quantity_in_stock" type="number" />
                        </div>
                        <div class="col-lg-12">
                            <label>Price Per Item</label>
                            <input class="form-control" v-model="price_per_item" type="number" />
                        </div>
                        <div class="col-lg-12">
                            <button class="btn btn-default" @click="saveProduct">Enter Product</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" v-if="items != []">
            <div class="col-md-8 col-md-offset-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Quantity In Stock</th>
                            <th>Price Per Item</th>
                            <th>Date Submitted</th>
                            <th>Total Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="item in items">
                            <td>{{ item.product_name }}</td>
                            <td>{{ item.quantity_in_stock }}</td>
                            <td>${{ item.price_per_item }}</td>
                            <td>{{ item.date_submitted }}</td>
                            <td>${{ parseFloat(item.total_value).toFixed(2) }}</td>
                        </tr>
                    </tbody>
                </table>
                <div>Total Value of all products: ${{ total_value }}</div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return ({
                product_name        : "",
                quantity_in_stock   : "",
                price_per_item      : null,

                items               : [],
            })
        },
        mounted() {
            this.getProducts()
        },
        computed : {
            total_value() {
                let total = 0
                this.items.length > 0 && (
                    this.items.map(item => total += (
                        item.quantity_in_stock *
                        parseFloat(item.price_per_item).toFixed(2))
                    )
                )
                return parseFloat(total).toFixed(2)
            }
        },
        methods: {
            getProducts() {
                window.axios.get('/api/product').then(resp => {
                    this.items = resp.data.items
                }).catch(err => {
                    alert(err)
                })
            },
            saveProduct() {
                window.axios.post('/api/product', {
                    product_name        : this.product_name,
                    quantity_in_stock   : this.quantity_in_stock,
                    price_per_item     : this.price_per_item
                }).then(resp => {
                    this.product_name       = ""
                    this.quantity_in_stock  = ""
                    this.price_per_item     = null
                    this.getProducts()
                }).catch(err => {
                    alert(err)
                })
            }
        }
    }
</script>
